#fcsn-t,#fcsn-b {
  background: rgba(0,0,0,0.7);
  position: absolute;
  width:100%;
  left: 0;
}
#fcsn-t {
  top: -30px;
  border-bottom: 30px solid rgba(0,0,0,.7)
}
#fcsn-b {
  padding-top: 30px;
  border-top: 30px solid rgba(0,0,0,.7)
}
#fcsn-c {
  border-radius: 3px;
  border: 1px solid #ccc;
}